@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in - HotelApp</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css">
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">


            <h1>Log in</h1>
            <div class="row">
                <div class="col-md-4">
                    <section>
                        <form id="account" method="post" novalidate="novalidate">
                            <h4>Use a local account to log in.</h4>
                            <hr>

                            <div class="form-group">
                                <label for="Input_Email">Email</label>
                                <input class="form-control" autocomplete="username" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Input_Email" name="Input.Email" value="">
                                <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <label for="Input_Password">Password</label>
                                <input class="form-control" autocomplete="current-password" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password" name="Input.Password">
                                <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label for="Input_RememberMe">
                                        <input type="checkbox" data-val="true" data-val-required="The Remember me? field is required." id="Input_RememberMe" name="Input.RememberMe" value="true">
                                        Remember me?
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button id="login-submit" type="submit" class="btn btn-primary">Log in</button>
                            </div>
                            <div class="form-group">
                                <p>
                                    <a id="forgot-password" href="/Identity/Account/ForgotPassword">Forgot your password?</a>
                                </p>
                            </div>
                            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8EQzCpyY4edJrUppuMCcno4rrTKcq69rnAn3LStTRUkwxa6O2dgcDReMW9sI6oFZNnKEfZjafK8WARnjABde7AO-QqDuWoqnJ-PzAKsGoAjeEiCNmHYW32UV_r-gV8yDldtMP14ce-AOj0oXXpzsfKw"><input name="Input.RememberMe" type="hidden" value="false">
                        </form>
                    </section>
                </div>
            </div>
        </main>
    </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>


    <script src="/Identity/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/Identity/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</body>
</html>
