@model IEnumerable<HotelWepApp2.Models.Buffet>


@{
    ViewData["Title"] = "Index";
}

<h2>Total of reservations</h2>

<table class="table">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.Date)</th>
        <th>Expected guests:</th>
    </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
            <td>
                @Html.DisplayFor(modelItem => item.Guest.Count)
            </td>
        </tr>
        }
    
    </tbody>
</table>

<input type="button" value="Add to reservation" onclick="location.href='@Url.Action("Create", "Jobs")'"/>