@using System.Linq
@model IEnumerable<HotelWepApp2.Models.Buffet>


@{
    ViewData["Title"] = "Reservationlist";
}

<h2>Total of reservations</h2>

<table class="table">
    <thead>
    <tr>
        <th>Expected guests:</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        @foreach (var item in Model)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Guest.Count)
            </td>
        }
    </tr>
    </tbody>
</table>

<input type="button" value="Add to reservation" onclick="location.href='@Url.Action("Create", "Jobs")'"/>